{% extends 'sito_gestione_voli/common.html' %}
{% load widget_tweaks %}
{% block content %}
      <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="card ">
          <form class="needs-validation" novalidate method="POST" action="">
            {% csrf_token %} 
          

          
          
            
          <div class="card-body row m-2 bg-opacity-10">
            <div class="col">
              <p>Andata</p>
              <!-- <input name="partenza" list="areoporti" type="text" class="form-control" id="ritorno" placeholder="digitare destinazione" required> -->
              

              {% render_field PreForm.partenza class="form-control" name='partenza'%}

              <datalist id="areoporti">
                {% for i in all_airports %}
                <option class="dropdown-item">
                  {{i}}
                </option>
                {% endfor %}
              </select>
              </datalist>
              
            </div>
            <div class="col">
              <p>Ritorno</p>
              
              

              {% render_field PreForm.arrivo class="form-control" name='arrivo'%}

              <datalist id="areoporti">
                {% for i in all_airports %}
                <option class="dropdown-item">
                  {{i}}
                </option>
                {% endfor %}
              </select>
              </datalist>
                           
            </div>

            
            <div class="row"> <!-- NEONATI BAMBINI E ADULTI -->
            
              
              <div class="row ">
                <div class="col-5 " style="margin-top: 1rem;">
                  <div class="row">
                    <div class="col" style="margin-top: 0.35rem;">data di andata: </div>

                    <div class="col" style="margin-left: -17rem;"> {% render_field PreForm.data_andata id="data_andata" class="form-control" type="date" %}</div> <!--id: andata-->

                  </div>
                  
                  
                  
                </div>
                <div class="col-2" style="margin-top: 1rem; ">
                  <a style="margin-right: 1rem; ">Neonati:</a> 
                  <button type="button" class="btn btn-secondary" onclick="Aumenta('neonati')">+</button>
                  <a name="_neonati">{% render_field PreForm.neonati id="neonati" value="0" style="width: 3rem; height: 2rem;"%}</a>
                  <button type="button" class="btn btn-secondary" onclick="Diminuisce('neonati')">-</button>
                </div>
                <div class="col-2" style="margin-top: 1rem;">
                  <a style="margin-right: 1rem; ">Bambini:</a> 
                  <button type="button" class="btn btn-secondary" onclick="Aumenta('bambini')">+</button>
                  <a name="_bambini">{% render_field PreForm.bambini id="bambini" value="0" style="width: 3rem; height: 2rem;"%}</a> 
                  <button type="button" class="btn btn-secondary" onclick="Diminuisce('bambini')">-</button>
                </div>
                <div class="col-2" style="margin-top: 1rem;">
                  <a style="margin-right: 1rem; ">Adulti:</a> 
                  <button type="button" class="btn btn-secondary" onclick="Aumenta('adulti')">+</button>
                  <a name="_adulti">{% render_field PreForm.adulti id="adulti" value="0" style="width: 3rem; height: 2rem;" %}</a> 
                  <button type="button" class="btn btn-secondary" onclick="Diminuisce('adulti')">-</button>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="row" style="margin-top: 1rem">
                    <div class="col" style="margin-top: 0.35rem;">data di ritorno: </div>

                    <div class="col" style="margin-left: -17rem;">{% render_field PreForm.data_ritorno id="data_ritorno" class="form-control" type="date" %}</div> 
                        
                    

                  </div>
                </div>
                <div class="col-2" style=" margin-left: 4.7rem;">
                  <a style="color: darkgray;">da 0 a 2 anni</a>
                </div>
                <div class="col-2">
                  <a style="color: darkgray;">da 3 a 12 anni</a>
                </div>
                <div class="col-2" style=" margin-left: -1.5rem;">
                  <a style="color: darkgray;">da 12 anni in poi</a>
                </div>
              </div>
              

            
            </div>
            <div>

            </div>
          
          
          <button class="mt-4 btn btn-warning col " type="submit">Avanti</button>
        </div>
        </form>
        </div>
      </div>

      
<script>
  //    mettere il minimo della data
  document.getElementById('data_andata').min = new Date().toISOString().split("T")[0];
  document.getElementById('data_ritorno').min = new Date().toISOString().split("T")[0];

  function data()
  {
    document.getElementById('data_andata').max = document.getElementById('data_ritorno').value;
  }

  function Data()
  {
    document.getElementById('data_ritorno').min = document.getElementById('data_andata').value;
  }



  function Aumenta(utente){
    document.getElementById(utente).value = document.getElementById(utente).valueAsNumber + 1;
  }
  function Diminuisce(utente){
    document.getElementById(utente).value -= 1;
  }
  

  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}