{% extends 'sito_gestione_voli/common.html' %}

{% block content %}
  <!--AGGIUNGIAMO CODICE-->

  {% load static %}<!--  -->
  <div class="d-flex justify-content-center pt-5">
    <div>
      
      {% for i in rolls %} <!-- FOR PER I POSTI -->
      <div id="posti" class="row">
        <a class="card text-dark bg-light col card-header m-1 p-2" type="button">
          <img style="height: 40px; width: 40px;" src="{% static 'sito_gestione_voli/prima_classe.png' %}">
        </a>
        <div class="card text-dark bg-light col card-header m-1 p-2">
          <img style="height: 40px; width: 40px;" src="{% static 'sito_gestione_voli/prima_classe.png' %}">
        </div>
        <div class="card text-dark bg-light col card-header m-1 p-2">
          <img style="height: 40px; width: 40px;" src="{% static 'sito_gestione_voli/prima_classe.png' %}">
        </div>
        <a class="card text-dark bg-light col card-header m-1 p-2" type="button"d>
          <img style="height: 40px; width: 40px;" src="{% static 'sito_gestione_voli/prima_classe.png' %}">
        </a>
      </div>
      {% endfor %}
  </div>

  </div>
{% endblock %}