body {
    background-image: url("sfondo.gif"); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size:cover;
  }
  /*  style="background-image: url('sfondo.gif'); background-repeat: no-repeat; background-attachment: fixed; background-size:cover;"  */